.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container .create-user-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: #111b21;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-user-form .input {
  padding: 12px;
  border-radius: 5px;
  border: none;
}

.create-user-form .submit-button {
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: #005c4b;
  color: #e9edef;
  cursor: pointer;
}
