.chat-window-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/chat-bg.png");
  padding: 0 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-info-container {
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
  background-color: #111b21;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 5px;
  width: 50%;
}

.message .card.sender {
  justify-self: flex-end;
  & .message-container {
    background-color: #005c4b;
  }
}
