@import url(./styles/reset.css);
@import url(./styles/ContactList.css);
@import url(./styles/ChatWindow.css);
@import url(./styles/Message.css);
@import url(./styles/Header.css);
@import url(./styles/Auth.css);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #e9edef;
  background-color: #222e35;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.border {
  border-bottom: 1px solid #e9edef;
  margin: 1rem 0;
  width: 100%;
}

.heading {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card {
  display: flex;
}

.main {
  display: flex;
  overflow: hidden;
}

/* utils */

.flex {
  display: flex;
}
